* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

h1 {
    background-color: black;
    color: white;
    margin-bottom: 0px;
}

h2 {
    border-bottom-style: solid;
    margin-bottom: 0px;
}

p {
    margin-top: 0px;
}

input, select, textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.input-50 {
    width:50%;
}

.customHr {
    width: 100%;
    font-size: 2px;
    color: grey;
    line-height: 6px;
    background: linear-gradient(black,white);
    background-color:grey;
    margin-top: 5px;
    margin-bottom: 5px;
}

.warning {
    color: red;
    font-weight: bold;
}

.sidenav-text {
    color:white;
}

.sidenav-check {
    width:auto;
}

/* Style the side navigation */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.sidenav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the content */
.content {
    margin-left: 200px;
    padding-left: 20px;
}