<!DOCTYPE html>
<html lang="en">
<head>
<title>Instant Graftification</title>
<script src="./js/vue.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="./css/style.css">
<link rel="stylesheet" type="text/css" href="./css/print.css" media="print" />
</head>
<body>
<div id="app">
<div class="sidenav">
    <input type="text" v-model="npcData.npcName" placeholder="Name Me">
    <select v-model="npcData.npcArray" @change="updateCR">
        <option value="">Select an array.</option>
        <option>Combatant</option>
        <option>Expert</option>
        <option>Spellcaster</option>
    </select><br>
    <select v-model="npcData.npcCR" @change="updateCR">
        <option value="">Select a CR.</option>
        <option>1/3</option>
        <option>1/2</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        <option>16</option>
        <option>17</option>
        <option>18</option>
        <option>19</option>
        <option>20</option>
        <option>21</option>
        <option>22</option>
        <option>23</option>
        <option>24</option>
        <option>25</option>
    </select><br>
    <select v-model="npcData.npcType" @change="updateType">
        <option selected value="">Creature Type</option>
        <option v-for="type in npcData.types" v-bind:value="type">
            {{type}}
        </option>
    </select>
    <select v-model="npcData.npcSubtype" @change="updateSubtype">
        <option selected value="">Creature Sub-Type</option>
        <option v-for="subtype in npcData.subtypes" v-bind:value="subtype">
            {{subtype}}
        </option>
    </select>
    <select v-model="npcData.npcAlignment">
        <option value="">Alignment</option>
        <option>LG</option>
        <option>NG</option>
        <option>CG</option>
        <option>LN</option>
        <option>N</option>
        <option>CN</option>
        <option>LE</option>
        <option>NE</option>
        <option>CE</option>
    </select><br>
    <select v-model="npcData.npcRace" @change="updateRace">
        <option selected value="">No Race</option>
        <option v-for="race in npcData.races" v-bind:value="race">
            {{ race }}
        </option>
    </select>
    <select v-model="npcData.npcClass" @change="updateClass">
        <option selected value="">No Class</option>
        <option v-for="classname in npcData.classes" v-bind:value="classname" v-if="displayClassInList(npcData.npcArray,classname)">
            {{ classname }}
        </option>
    </select>
  <a href="#">Link</a>
  <a href="#">Link</a>
  <a href="#">Link</a>
</div>

<div class="content">
  <div>
    <h1>{{ npcData.npcName }} (CR {{npcData.npcCR}})</h1>
    <p><b>{{ npcData.npcXP }} XP </b><br>
        <span>{{npcData.npcRace}} {{npcData.npcClass}}</span><br>
        {{ npcData.npcAlignment }} {{ npcData.npcSize }} {{ npcData.npcType }} ({{ npcData.npcSubtype }})<br>
        <b>Init</b> +{{ npcData.npcInitiative }}; <b>Senses</b> {{npcData.npcSenses}}; <b>Perception</b> +{{npcData.npcPerception}}<br>
    </p>
    <h2>Defense</h2>
    <p>
       <b>HP</b> {{ npcData.npcHP }}; <b>EAC</b> {{npcData.npcEAC}}; <b>KAC</b> {{npcData.npcKAC}}<br>
       <b>Fort</b> +{{npcData.npcFort}}; <b>Ref</b> +{{npcData.npcRef}}; <b>Will</b> +{{npcData.npcWill}}
    </p>
    <h2>Offense</h2>
    <p>
        <b>Speed</b> {{npcData.npcSpeed}} ft., climb {{npcData.npcClimb}} ft.<br>
        <b>Melee</b> {{npcData.npcMelee}}<br>
        <b>Space</b> {{npcData.npcSpace}}; <b>Reach</b> {{npcData.npcReach}}<br>
    </p>
    <h2>Statistics</h2>
    <p>
        <b>Str</b> {{npcData.npcStr}}; <b>Dex</b> {{npcData.npcDex}}; <b>Con</b> {{npcData.npcCon}}; <b>Int</b> {{npcData.npcInt}}; <b>Wis</b> {{npcData.npcWis}}; <b>Cha</b> {{npcData.npcCha}}<br>
        <b>Skills</b> {{npcData.npcSkills}}
    </p>
    <h2>Ecology</h2>
    <p>
        <b>Environment</b> {{npcData.npcEnv}}<br>
        <b>Organization</b> {{npcData.npcOrg}}
    </p>
    <h2>Special Abilities</h2>
    <p>
        {{npcData.npcSpecials}}
    </p>
  </div>
</div>
</div>
<script src="./app.js"></script>
</script>
</body>
</html>
